doctype html
html
  head
    include includes/headContent.pug
  body(id="profiles")
    include includes/nav.pug
    - const team = JSON.parse(profiles)

    div(class="centre")
      - if (team.length === 1)
        h1 Meet #{team[0].name}
      - else
        h1 Meet the team
      br
      table(id="profiles")
        thead
          tr
            th Name
            th Age
            th Gender
            th Comment
        each val in team
          tr
            td= val.name
            td= val.age
            td= val.gender
            td= val.comments
